body {
  background: cornflowerblue;
}

.App {
  text-align: center;
}

.quiz-container form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  background: cornflowerblue;
}

.selected {
  background: greenyellow;
}

.answer-btn {
  border: none;
  margin: 10px 0;
  height: 50px;
}

.next-question {
  margin: 30px 30%;
}

.result {
  text-align: center;
  margin: auto;
}

.result p {
  margin: 20px 0;
  padding: 0;
}

.progress {
  display: flex;
  margin: auto;
  background: cornsilk;
  height: 3em;
  justify-content: center;
  align-items: center;
}

.progress span {
  font-weight: bold;
}

.alert-msg {
  color: crimson;
  font-weight: bold;
}